input::placeholder {
    opacity: .4;
}
h3, h5 {
	font-weight: 400;
}

@keyframes dourado {
	0% {
		box-shadow: 0 5px 15px rgb(255, 153, 0);
	}
	25% {
		box-shadow: 5px 0 15px rgb(255, 153, 0);
	}
	50% {
		box-shadow: 0 -5px 15px rgb(255, 153, 0);
	}
	75% {
		box-shadow: -5px 0 15px rgb(255, 153, 0);
	}
	100% {
		box-shadow: 0 5px 15px rgb(255, 153, 0);

	}
}